body {
    font-size: 20px;
    box-sizing: content-box;
  }
a:link,a:visited{
    color:#cbf
}
.table,th,td{
  border: 1px solid black; 
  
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 700px;
  margin:0 auto;
  margin-top:10%;
  background-color: rgba(208, 208, 240, 0.5);
  color:#425;
  border-radius:15px
}
   /*给左边第一个th设置左上边框圆角*/
table tr:first-child td:first-child {
    border-top-left-radius: 15px;
}
/*给左边/最后一个th设置右上边框圆角*/
table tr:first-child td:last-child {
    border-top-right-radius: 15px;
}
/*给底部的tfoot的第一个td设置左下圆角*/
table  tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}
/*给tfoot的最后一个td设置右下圆角*/
table  tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

/* table的各项设置    */
/* table居中 */
.div-table{
  margin:0 auto;
  position:relative;
}
/* 表头 */
.tr-title{
  height: 50px ;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  
}
/* 下方模块 */

.td-title{
 width: 30%;
 height: 30px;
 text-align: center;

}
.td-body{
  width: 70%;
   height: 30px;

}
/* 置底 */
.div-bottom{
  height: 50px;
  width: 100%;
  text-align: center;
  color:#bbb;
}
/* 分割线和备案号的距离 */
.hr-bottom{
  margin-bottom: 20px;
}

/* 作品 */
.zuopin{
  text-align: center;
  color: bisque;
  margin: 0 30px;
}
.zuopin-title{
  font-weight: bold;
  font-size: 25px;
  
}