html {
    background-size: cover;
    background-image: url(./home_loading.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box {
    border-radius: 30px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.7);
    font-size: 25px;
}

.title {
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 5px 5px #6d6868;
}

.time {
    text-align: center;
    color: rgb(250, 0, 0);
}

div {
    margin: 10px 0;
    text-indent: 20px;
}


/* 置底 */

.div-bottom {
    height: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


/* 分割线和备案号的距离 */

.hr-bottom {
    margin-bottom: 20px;
}